<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- css -->
    <link rel="stylesheet" href="style.css">
    <!-- script -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <!-- bootstrap. -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <!-- fontawesome. -->
    <script src="https://kit.fontawesome.com/ab026326c7.js" crossorigin="anonymous"></script>
    <!-- google font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

    <meta charset="utf-8">
    <title>Bags</title>
  </head>
  <body>
<div  ng-app="myApp" ng-controller="myCtrl">
<!--Navbar-->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><i id="icon"class="fab fa-adn"></i></a>
  <div class="nav">

    <li class="nav-item">
      <a class="nav-link" href="MEN.html">MEN</a>
    </li>

      <li class="nav-item">
        <a class="nav-link" href="WOMEN.html">WOMEN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="KIDS.html">KIDS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="ADC.html">ADDTOCART</a>
      </li>


      <!-- links -->
      <div class="link">

      <div class="picon">
      <i  id="picon" class="far fa-user"></i><br>
      <a style="color:black; font-weight:bold;" href="login.html">PROFILE</a>
     </div>
     <div class="wlink">
     <i  id="wlink"class="far fa-heart"></i><br>
     <a style="color:black; font-weight:bold;" href="wishlist.html">WISHLIST</a>
    </div>
   <div class="Bicon">
  <i  id="Bicon"class="fas fa-shopping-bag"></i><br>
   <a  style="color:black; font-weight:bold;"href="#">{{noofelement}}</a>
 </div>
</nav>


<div class="smalltab">
  <h5>Home/Women's Fastion Store</h5>
  <h6>Women's Fastion Store- items </h6>
</div>

<!-- array vivepart -->
<div class=" row mx-0  px-5">

<div class="col-lg-4 col-md-2 mb-lg-0 mb-5"  ng-repeat="p in productlist">
  <div class="cardbody">
<img  class="img"  ng-src={{p.srcc}}> </img>
<div class="card-title">{{p.Brand}}</div>
<div class="card-text">{{p.about}}</div>
<div class="card-text">{{p.price}}</div>
<div class="cardbtn">
<button id="wishbtn" class="btn btn-outline-info" ng-click="wish(p.id)"><i class="fas fa-heart"></i></button>
<button id="cartbtn" type="button" name="button" class="btn btn-outline-info" ng-click="addtocart(p.id)" ><i class="fas fa-cart-plus"></i></button>
</div>
</div>
</div>


</div>
  <script>
  var app = angular.module('myApp', []);
  app.controller('myCtrl', function($scope){
    $scope.cart=[];
    $scope.wishl=[];
  $scope.productlist=[{ 'Brand':'WOMEN MARKS', 'price': 'RS959' , 'about':'Checked Satchel', 'srcc':'https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/productimage/2021/3/15/9bcaa728-d706-470b-a0a0-db4f1231756e1615820174620-1.jpg','quantity':0,'id':133},
  { 'Brand':'H&M', 'price': 'RS1299' , 'about':'Qualited mini bag', 'srcc':'https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/productimage/2021/5/28/46ba4f80-d471-4bd9-aa1c-1f184c0011181622177499421-1.jpg','quantity':0,'id':134},
  { 'Brand':'Wildcraft', 'price': 'RS1599' , 'about':'Unisex laptop Bag', 'srcc':'https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/1764251/2017/3/23/11490269086797-Wildcraft-Unisex-Grey--Blue-Buckler-Patterned-Laptop-Backpack-3791490269086460-1.jpg','quantity':0,'id':135},
  { 'Brand':'H&M', 'price': 'RS2299' , 'about':'Women Black Solid', 'srcc':'https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/productimage/2019/8/3/81d8af0d-f549-4383-abb6-8807097936241564773990589-1.jpg','quantity':0,'id':136},
  { 'Brand':'Safari', 'price': 'RS3115' , 'about':'Soft blue length bag', 'srcc':'https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/productimage/2021/6/22/10793819-2c46-4c97-8bcd-3b4c9650d34c1624354573011-5.jpg','quantity':0,'id':137},
  { 'Brand':'Apsis', 'price': 'Rs1049' , 'about':'Handbags', 'srcc':'https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/productimage/2021/6/28/f95a6943-cd60-4b96-9e3f-ca8e7b61c4b41624860192309-1.jpg','quantity':0,'id':138}

];
$scope.addtocart = function($index)
			{

				if(JSON.parse(localStorage.getItem('cart')) == null){
					$scope.i = $scope.cart.indexOf($index)
					if($scope.i != -1)
					{
						alert("Element already present")
					}
					else
					{
						$scope.remov = false
						$scope.cart.push($index)
						$scope.productlist[$index].quantity = 1
						$scope.noofelement = $scope.cart.length
						localStorage.setItem('cart', JSON.stringify($scope.cart))
						localStorage.setItem('noofelement', $scope.noofelement)

					}
				}
				else{

					$scope.cart = JSON.parse(localStorage.getItem('cart'))
					$scope.i = $scope.cart.indexOf($index)
					if($scope.i != -1)
					{
						alert("Element already present")
					}
					else
					{
						$scope.remov = false
						$scope.cart.push($index)
						// $scope.productlist[$index].quantity = 1
						$scope.noofelement = $scope.cart.length
						localStorage.setItem('cart', JSON.stringify($scope.cart))
						localStorage.setItem('noofelement', $scope.noofelement)
					}
				}

			}
      $scope.wish = function($index){

				if(JSON.parse(localStorage.getItem('wish')) == null)
				{
					$scope.i = $scope.wishl.indexOf($index)
					if($scope.i != -1)
					{
						alert("Item Wishlisted")
					}
					else
					{
						$scope.wishl.push($index)
						localStorage.setItem('wish', JSON.stringify($scope.wishl))
					}
				}

				else
				{
					$scope.wishl = JSON.parse(localStorage.getItem('wish'))
					$scope.i = $scope.wishl.indexOf($index)
					if($scope.i != -1)
					{
						alert("allredy in your wishlist")
					}
					else
					{
						$scope.wishl.push($index)
						localStorage.setItem('wish', JSON.stringify($scope.wishl))
					}
				}
			}
});

</script>
</body>
</html>
