<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- css -->
    <link rel="stylesheet" href="style.css">
    <!-- script -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <!-- bootstrap. -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <!-- fontawesome. -->
    <script src="https://kit.fontawesome.com/ab026326c7.js" crossorigin="anonymous"></script>
    <!-- google font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

    <meta charset="utf-8">
    <title>NautiNati</title>
  </head>
  <body>
<div  ng-app="myApp" ng-controller="myCtrl">
<!--Navbar-->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><i id="icon"class="fab fa-adn"></i></a>
  <div class="nav">

    <li class="nav-item">
      <a class="nav-link" href="MEN.html">MEN</a>
    </li>

      <li class="nav-item">
        <a class="nav-link" href="WOMEN.html">WOMEN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="KIDS.html">KIDS</a>
      </li>


      <!-- links -->
      <div class="link">

      <div class="picon">
      <i  id="picon" class="far fa-user"></i><br>
      <a style="color:black; font-weight:bold;" href="login.html">Profile</a>
     </div>
     <div class="wlink">
     <i  id="wlink"class="far fa-heart"></i><br>
     <a style="color:black; font-weight:bold;" href="wishlist.html">Wishlist</a>
    </div>
   <div class="Bicon">
  <i  id="Bicon"class="fas fa-shopping-bag"></i><br>
   <a style="color:black; font-weight:bold;" href="#">{{noofelement}}</a>
 </div>
</nav>


<div class="smalltab">
  <h5>Home/KID's Fastion Store</h5>
  <h6>KID's Fastion Store- items </h6>
</div>

<!-- array vivepart -->
<div class=" row mx-0  px-5">
<div class="col-lg-4 col-md-2 mb-lg-0 mb-5"  ng-repeat="p in productlist">
  <div class="cardbody">
<img  class="img"  ng-src={{p.srcc}}> </img>
<div class="card-title">{{p.Brand}}</div>
<div class="card-text">{{p.about}}</div>
<div class="card-text">{{p.price}}</div>
<div class="cardbtn">
<button id="wishbtn" class="btn btn-outline-info" ng-click="wish(p.id)"><i class="fas fa-heart"></i></button>
<button id="cartbtn" type="button" name="button" class="btn btn-outline-info" ng-click="addtocart(p.id)" ><i class="fas fa-cart-plus"></i></button>
</div>

</div>
</div>
</div>


</div>
  <script>
  var app = angular.module('myApp', []);
  app.controller('myCtrl', function($scope){
    $scope.cart = [];
    $scope.wishl =[];
  $scope.productlist=[{ 'Brand':'NautiNati', 'price': 'RS494' , 'about':'printed jumshuit', 'srcc':'https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/productimage/2021/5/7/ccc7f23a-cea1-41df-ae20-1d5b258e629f1620381722762-1.jpg','quantity':0,'id':30},
  { 'Brand':'NautiNati', 'price': 'RS1098' , 'about':'Foral Frock', 'srcc':'https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/productimage/2021/1/28/b999e950-bda1-44cf-84b6-f6bd56f758791611809403962-1.jpg','quantity':0,'id':31},
  { 'Brand':'NautiNati', 'price': 'RS399' , 'about':'printed crop top with shorts', 'srcc':'https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/11980262/2020/8/31/a558cc77-91b4-4240-ad06-a2654a4b102e1598875757483-Nauti-Nati-Girls-Pink--Blue-Embroidered-Top-with-Shorts-5661-1.jpg','quantity':0,'id':32},
  { 'Brand':'NautiNati', 'price': 'RS799' , 'about':'The Line Dress', 'srcc':'https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/productimage/2021/6/30/c677f5f5-897c-4509-a2f3-a2e74a8c54e51625049124936-1.jpg','quantity':0,'id':33},
  { 'Brand':'NautiNati', 'price': 'RS1032' , 'about':'Boy stripted Dunggrey', 'srcc':'https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/productimage/2021/6/8/db9cf69b-c467-431f-9c7e-2b2ae09499671623165385228-1.jpg','quantity':0,'id':34},
  { 'Brand':'NautiNati', 'price': 'RS424' , 'about':'boy cartoon  T-shirt', 'srcc':'https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/11980274/2020/8/31/12b06fec-28b4-4cf4-bbef-83685d810cd01598851712268-Nauti-Nati-Boys-Tshirts-6401598851711310-1.jpg','quantity':0,'id':35}

];


$scope.addtocart = function($index)
			{

				if(JSON.parse(localStorage.getItem('cart')) == null){
					$scope.i = $scope.cart.indexOf($index)
					if($scope.i != -1)
					{
						alert("Element already present")
					}
					else
					{
						$scope.remov = false
						$scope.cart.push($index)
						$scope.productlist[$index].quantity = 1
						$scope.noofelement = $scope.cart.length
						localStorage.setItem('cart', JSON.stringify($scope.cart))
						localStorage.setItem('noofelement', $scope.noofelement)

					}
				}
				else{

					$scope.cart = JSON.parse(localStorage.getItem('cart'))
					$scope.i = $scope.cart.indexOf($index)
					if($scope.i != -1)
					{
						alert("Element already present")
					}
					else
					{
						$scope.remov = false
						$scope.cart.push($index)
						// $scope.productlist[$index].quantity = 1
						$scope.noofelement = $scope.cart.length
						localStorage.setItem('cart', JSON.stringify($scope.cart))
						localStorage.setItem('noofelement', $scope.noofelement)
					}
				}

			}
      $scope.wish = function($index){

				if(JSON.parse(localStorage.getItem('wish')) == null)
				{
					$scope.i = $scope.wishl.indexOf($index)
					if($scope.i != -1)
					{
						alert("Item Wishlisted")
					}
					else
					{
						$scope.wishl.push($index)
						localStorage.setItem('wish', JSON.stringify($scope.wishl))
					}
				}

				else
				{
					$scope.wishl = JSON.parse(localStorage.getItem('wish'))
					$scope.i = $scope.wishl.indexOf($index)
					if($scope.i != -1)
					{
						alert("allredy in your wishlist")
					}
					else
					{
						$scope.wishl.push($index)
						localStorage.setItem('wish', JSON.stringify($scope.wishl))
					}
				}
			}
});

</script>
</body>
</html>
