<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- css -->
    <link rel="stylesheet" href="style.css">
    <!-- script -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <!-- bootstrap. -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <!-- fontawesome. -->
    <script src="https://kit.fontawesome.com/ab026326c7.js" crossorigin="anonymous"></script>
    <!-- google font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

    <meta charset="utf-8">
    <title>Tshirts</title>
  </head>
  <body>
<div  ng-app="myApp" ng-controller="myCtrl">
<!--Navbar-->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><i id="icon"class="fab fa-adn"></i></a>
  <div class="nav">
     <li class="nav-item">
      <a class="nav-link" href="HOME.html">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="MEN.html">MEN</a>
    </li>
      <li class="nav-item">
        <a class="nav-link" href="WOMEN.html">WOMEN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="KIDS.html">KIDS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="ADC.html">ADDTOCART</a>
      </li>
<!-- links -->
      <div class="linkk" style="display:flex; margin-left:500px;">
      <div class="picon">
      <i  id="picon" class="far fa-user"></i><br>
      <a style="color:black; font-weight:bold;" href="login.html">Profile</a>
     </div>
     <div class="wlink">
     <i  id="wlink"class="far fa-heart"></i><br>
     <a style="color:black; font-weight:bold;" href="wishlist.html">Wishlist</a>
    </div>
   <div class="Bicon">
  <i  id="Bicon"class="fas fa-shopping-bag"></i><br>
   <a style="color:black; font-weight:bold;" href="#">{{noofelement}}</a>
 </div>
</div>
</nav>


<div class="smalltab">
  <h5>Home/Men's Fastion Store</h5>
  <h6>Men's Fastion Store- items </h6>
</div>

<!-- array vivepart -->
<div class=" row mx-0  px-5">
<div class="col-lg-4 col-md-2 mb-lg-0 mb-5"  ng-repeat="p in productlist">
  <DIV class="cardbody">
<img  class="img"  ng-src={{p.srcc}}> </img>
<div class="card-title">{{p.Brand}}</div>
<div class="card-text">{{p.about}}</div>
<div class="card-text">{{p.price}}</div>
<div class="cardbtn">
<button id="wishbtn" class="btn btn-outline-info" ng-click="wish(p.id)"><i class="fas fa-heart"></i></button>
<button id="cartbtn" type="button" name="button" class="btn btn-outline-info" ng-click="addtocart(p.id)"><i class="fas fa-cart-plus"></i></button>
</div>
</div>

</div>


</div>
  <script>
  var app = angular.module('myApp', []);
  app.controller('myCtrl', function($scope){
    $scope.cart=[];
    $scope.wishl=[];
  $scope.productlist=[{ 'Brand':'HRX', 'price': 'RS499' , 'about':'running T-shirt', 'srcc':'https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/10106341/2020/12/4/ebd42abb-c45f-4290-b8e7-073f18f3b8541607088518050-HRX-by-Hrithik-Roshan-Ultralyte-Men-Black-Solid-Running-T-sh-1.jpg','quantity':0,'id':66},
  { 'Brand':'Roadster', 'price': 'RS209' , 'about':'Solid round neck T-shirt', 'srcc':'https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/3314141/2018/5/19/e55c2244-8515-44d5-93da-d719f3f8d4551526706357637-Roadster-Men-Tshirts-6461526706356615-1.jpg','quantity':0,'id':67},
  { 'Brand':'Moda-Rapido', 'price': 'RS421' , 'about':'Printed round neck T-shirt', 'srcc':'https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/2378362/2018/6/9/270e0a7e-365b-4640-9433-b269c60bf3061528527188563-Moda-Rapido-Men-Maroon-Printed-Round-Neck-T-shirt-3811528527-1.jpg','quantity':0,'id':68},
  { 'Brand':'HERE&NOW', 'price': 'RS1399' , 'about':'The polo coller T-shirt', 'srcc':'https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/4318091/2019/5/8/c0e24a77-4369-42ae-98c4-b583e5375dbf1557297643554-HERENOW-Men-White--Coral-Pink-Colourblocked-Polo-Collar-T-sh-1.jpg','quantity':0,'id':69},
  { 'Brand':'Roadster', 'price': 'RS207' , 'about':'Solid round neck T-shirt', 'srcc':'https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/9329623/2019/5/3/cc23af5a-e95f-4d0d-accc-5d32db57026f1556863519870-Roadster-Men-Navy-Blue-Printed-Round-Neck-T-shirt-6311556863-1.jpg','quantity':0,'id':70},
  { 'Brand':'Calvin-Klein-Jeans', 'price': 'RS3999' , 'about':'Men polo callar neck T-shirt', 'srcc':'https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/14590702/2021/7/15/6488a459-739c-47d8-a892-1dc67ed73bbc1626347434826-Calvin-Klein-Jeans-Men-Tshirts-6331626347432209-1.jpg','quantity':0,'id':71}

];



$scope.addtocart = function($index)
			{

				if(JSON.parse(localStorage.getItem('cart')) == null){
					$scope.i = $scope.cart.indexOf($index)
					if($scope.i != -1)
					{
						alert("Element already present")
					}
					else
					{
						$scope.remov = false
						$scope.cart.push($index)
						$scope.productlist[$index].quantity = 1
						$scope.noofelement = $scope.cart.length
						localStorage.setItem('cart', JSON.stringify($scope.cart))
						localStorage.setItem('noofelement', $scope.noofelement)

					}
				}
				else{

					$scope.cart = JSON.parse(localStorage.getItem('cart'))
					$scope.i = $scope.cart.indexOf($index)
					if($scope.i != -1)
					{
						alert("Element already present")
					}
					else
					{
						$scope.remov = false
						$scope.cart.push($index)
						// $scope.productlist[$index].quantity = 1
						$scope.noofelement = $scope.cart.length
						localStorage.setItem('cart', JSON.stringify($scope.cart))
						localStorage.setItem('noofelement', $scope.noofelement)
					}
				}

			}
      $scope.wish = function($index){

				if(JSON.parse(localStorage.getItem('wish')) == null)
				{
					$scope.i = $scope.wishl.indexOf($index)
					if($scope.i != -1)
					{
						alert("Item Wishlisted")
					}
					else
					{
						$scope.wishl.push($index)
						localStorage.setItem('wish', JSON.stringify($scope.wishl))
					}
				}

				else
				{
					$scope.wishl = JSON.parse(localStorage.getItem('wish'))
					$scope.i = $scope.wishl.indexOf($index)
					if($scope.i != -1)
					{
						alert("allredy in your wishlist")
					}
					else
					{
						$scope.wishl.push($index)
						localStorage.setItem('wish', JSON.stringify($scope.wishl))
					}
				}
			}
});

</script>
</body>
</html>
